/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(37, 55, 175);
    background-image: radial-gradient(at 40% 20%, hsla(242, 100%, 74%, 1) 0px, transparent 50%), radial-gradient(at 0% 50%, hsla(209, 100%, 93%, 1) 0px, transparent 50%), radial-gradient(at 80% 50%, hsla(194, 100%, 76%, 1) 0px, transparent 50%), radial-gradient(at 19% 78%, hsla(236, 100%, 77%, 1) 0px, transparent 50%), radial-gradient(at 99% 100%, hsla(163, 100%, 70%, 1) 0px, transparent 50%), radial-gradient(at 0% 0%, hsla(197, 100%, 76%, 1) 0px, transparent 50%);
}

*,
html {
    margin: 0;
    padding: 0;
}