.removeBtn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%, -30%);
    background: rgba(255, 0, 0, 0.6);
    border-radius: 50px;
    opacity: 1;
    transition: all 0.2s;
}

.removeBtn:hover {
    background: rgba(255, 0, 0, 0.8);
    cursor: pointer;
}