.home {
    min-height: 100vh;
    width: 100vw;
    background-color: #131313;
    position: relative;

    a {
        text-decoration: none;
    }

    h2 {
        font-weight: 500;
    }

    .exportBtnArea {
        left: 20px;
        top: 10px;
        position: absolute;
        display: flex;
        gap: 15px;

        .exportBtn {
            color: white;
            padding: 7px 10px;
            // margin: 10px;
            border-radius: 10px;
            background-color: green;
            width: max-content;
            cursor: pointer;
        }
    }

    .colContainer {
        padding: 20px;
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 260px);
        overflow-x: hidden;
        gap: 25px;
        column-gap: 20px;

        #nameList {
            .inputWrapper {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 5px;
                margin-bottom: 10px;
                width: 100%;

                .nameInput {
                    padding: 5px 7px;
                    border-radius: 5px;
                    height: 22px;
                    outline: none;
                }

                .submitBtn {
                    background-color: green;
                    padding: 5px 7px;
                    border-radius: 5px;
                    cursor: pointer;

                }
            }
        }
    }

    .addNameListBtn {
        padding: 10px 20px;
        background-color: green;
        color: white;
        border-radius: 15px;
        width: fit-content;
        margin: 20px;
        position: relative;
    }
}