.outerWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(153, 151, 151);
    height: max-content;
    /* background: linear-gradient(104deg, #3d34edad, #2d3e6738, #1b1270a6); */
    background-color: #ff99ff;
    background-image: radial-gradient(at 86% 61%, hsla(344, 71%, 76%, 1) 0px, transparent 50%), radial-gradient(at 71% 1%, hsla(38, 71%, 60%, 1) 0px, transparent 50%), radial-gradient(at 21% 85%, hsla(237, 70%, 70%, 1) 0px, transparent 50%), radial-gradient(at 35% 84%, hsla(58, 82%, 66%, 1) 0px, transparent 50%), radial-gradient(at 24% 37%, hsla(155, 73%, 73%, 1) 0px, transparent 50%), radial-gradient(at 4% 32%, hsla(349, 91%, 73%, 1) 0px, transparent 50%), radial-gradient(at 57% 41%, hsla(325, 84%, 72%, 1) 0px, transparent 50%);
}

.tables {
    flex: 5fr;
    width: 100vw;
    max-height: 100vh;
    overflow-y: scroll;
    display: grid;
    column-gap: 10px;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, 240px);
    overflow-x: hidden;
}

.table {
    width: 240px;
    max-height: 60vh;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 240, 240, 0.5);
}

.innerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.peopleNum {
    font-weight: bold;
}

.peopleName {
    height: 55vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.nameList {
    flex: 1fr;
    width: fit-content;
    padding: 20px;
}

.names {
    min-width: 220px;
    width: fit-content;
    height: 90vh;
    /* border: 0.5px solid rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    margin: 0px;
    /* border: 20px solid transparent; */
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.5);
    overflow-y: scroll;
}


/* SCROLL BAR STYLES */


/* width */

::-webkit-scrollbar {
    width: 17px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #3316d4b0;
    position: absolute;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(34, 34, 34, 0.5);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(169, 181, 199, 0.5);
}

.table::-webkit-scrollbar,
.names::-webkit-scrollbar,
.peopleName::-webkit-scrollbar {
    display: none;
}